@font-face {
	font-family: Roboto;
	src:url("/HTML-OS/@APP/htmlos.fonts/roboto/Roboto-regular.ttf");
}

body {
	margin:0px;
	display: grid;
	align:0 auto;
	grid-template-columns: auto auto auto;
	background:transparent;
	height:100%;
	width:275px;
	-ms-overflow-style: none;
	-moz-scrollbars-none;
}

* {
	font-family:Roboto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.item {
	width:75px;
	text-align:center;
	padding:3px;
	height:75px;
}

::-webkit-scrollbar {
	background-color:transparent;
	width: 0 !important;
}

::-webkit-scrollbar-corner {
	background-color:transparent;
	width:0 !important;
}

*:fullscreen, -webkit-full-screen {
	background-color:#FFF;
}